.shadowText {
  color:white;  
  font-size: 300%;
  margin:0; padding:0;
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#logo{        
    height:20%;
}

.tenses{
    margin:1em 0 2em 0  ;    
}

.tenses div{   
    text-align: center;
    height: 7em;    
    margin:0;
    padding:0;     
    font-weight: bold;
}

.chestClose{
    background:transparent url(../img/chestClose.png) no-repeat 50% 100%;  
    -webkit-background-size: 70% auto ;    
    max-width: 150%;
}

.chestOpen{
    background:transparent url(../img/chestOpen.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto;     
}

.chestRat{
    background:transparent url(../img/rat.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto; 
}

.chestGold{
    background:transparent url(../img/coin.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto; 
}

#gameFooter{
    margin:0;;
    line-height: 3em;       
}

.bonus{
    background:transparent url(../img/coin.png) no-repeat 5px 4px;
    padding-left:3em;    
    -webkit-background-size: auto 80% ;  
}

h4.bonus{
    text-align: center;
    -webkit-background-size: auto 95% ;  
    background-position: 15% 4px;
    line-height: 8em;
    margin:0;padding:0;
    padding-left:3em;
    margin-top:2em;
}

.lives img{
    vertical-align:middle;
    vertical-align:text-bottom;
}

.options > div > div{
    line-height:3em;   
    padding-top:0.5em;
    font-weight: bold;
    text-align: center;
}

.key0{
     background:transparent url(../img/key0.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;     
}

.key1{
     background:transparent url(../img/key1.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto;   
}

.key2{
     background:transparent url(../img/key2.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;      
}

.key3{
     background:transparent url(../img/key3.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;      
}

/*  tools */
.dropshadow {
 -moz-box-shadow: 3px 3px 4px #999; 
 -webkit-box-shadow: 3px 3px 4px #999; 
 box-shadow: 3px 3px 4px #999; 
} 
 
.center{text-align: center;}

.bold{
    font-weight: bold;
}


/*  options list */


