.shadowText {
  color:white;  
  font-size: 300%;
  margin:0; padding:0;
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#motto, #farawell{        
    height:50%;
}

.tenses{
    margin:1em 0 2em 0  ;    
}

.tenses > div > div{   
    text-align: center;
    height: 7.5em;    
    margin:0 auto;
    padding:0;    
    font-weight: bold;
    max-width: 100px; /* --TODO- Media Queries */        
}

.tenses > div > div > span{      
    background:orange;
    padding:0.1em 0.5em;
}

.chestCloseLeft{
    background:transparent url(../img/chestCloseLeft.png) no-repeat 50% 100%;  
    -webkit-background-size: 70% auto ;           
}

.chestCloseMiddle{
    background:transparent url(../img/chestCloseMiddle.png) no-repeat 50% 70%;  
    -webkit-background-size: 50% auto ;           
}

.chestCloseRight{
    background:transparent url(../img/chestCloseRight.png) no-repeat 50% 100%;  
    -webkit-background-size: 70% auto ;           
}

.chestRatLeft{
    background:transparent url(../img/chestRatLeft.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto;    
}

.chestRatMiddle{
    background:transparent url(../img/chestRatMiddle.png) no-repeat 50% 70%;  
    -webkit-background-size: 50% auto ;    
}

.chestRatRight{
    background:transparent url(../img/chestRatRight.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto;    
}

.chestOpenLeft{
    background:transparent url(../img/chestOpenLeft.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto;    
}

.chestOpenMiddle{
    background:transparent url(../img/chestOpenMiddle.png) no-repeat 50% 70%;  
    -webkit-background-size: 50% auto ;     
}

.chestOpenRight{
    background:transparent url(../img/chestOpenRight.png) no-repeat 50% 100%;  
    -webkit-background-size: 90% auto;    
}

.chestParrotLeft{
    background:transparent url(../img/chestParrotLeft.png) no-repeat 50% 100%;  
    -webkit-background-size: 70% auto;    
}

.chestParrotMiddle{
    background:transparent url(../img/chestParrotMiddle.png) no-repeat 50% 70%;  
    -webkit-background-size: 50% auto ;     
}

.chestParrotRight{
    background:transparent url(../img/chestParrotRight.png) no-repeat 50% 100%;  
    -webkit-background-size: 70% auto;    
}

#gameoverBox{
    text-align: center;
}

.gameFooter{
    margin:0;;
    line-height: 3em;       
}

.lives{
    
    margin-right:1.7em;
    text-align: right;
    
}

.bonus{
    background:transparent url(../img/bonus.png) no-repeat 5px 4px;
    padding-left:3em;    
    padding-right:1em;
    -webkit-background-size: auto 70% ;         
    float:left;    
    color:#ccc;
}



.lives img{
    vertical-align:middle;
    vertical-align:text-bottom;
}


.options > div > div{
    line-height:3em;   
    padding-top:0.5em;
    font-weight: bold;
    text-align: center;        
    max-width: 100px; /* --TODO- Media Queries */     
    margin:0 auto;
    font-size:90%;
    cursor:move;
}

.key0{
     background:transparent url(../img/key0.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;     
}

.key1{
     background:transparent url(../img/key1.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto;   
}

.key2{
     background:transparent url(../img/key2.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;      
}

.key3{
     background:transparent url(../img/key3.png) no-repeat 50% 0; 
    -webkit-background-size: 90% auto ;      
}


/*  tools */
.center{text-align: center;}

.bold{
    font-weight: bold;
}

.corner{
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


.shadow{
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}


/*  options list */


